.app-container {
  min-height: 100vh;
  background: url('/public/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}


/* Add this CSS to your global styles or inline */
.icon-container:hover {
  transform: scale(1.2);
  color: #3b82f6; /* Change this to the color you want */
  transition: transform 0.3s ease, color 0.3s ease;
}